@font-face {
    font-family: 'main-font';
    src: url('fonts/VLDekar.eot');
    src: url('fonts/VLDekar.eot?#iefix') format('embedded-opentype'),
    url('fonts/VLDekar.woff2') format('woff2'),
    url('fonts/VLDekar.woff') format('woff'),
    url('fonts/VLDekar.ttf') format('truetype'),
    url('fonts/VLDekar.svg#VLDekar') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'main-font2';
    src: url('fonts/r0c0iLinotte-Light.eot');
    src: url('fonts/r0c0iLinotte-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/r0c0iLinotte-Light.woff2') format('woff2'),
    url('fonts/r0c0iLinotte-Light.woff') format('woff'),
    url('fonts/r0c0iLinotte-Light.ttf') format('truetype'),
    url('fonts/r0c0iLinotte-Light.svg#r0c0iLinotte-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

:root {
    --main-color: #459858;
    --hover-color: #5bc573;
    --main-font: 'main-font';
    --main-font2: 'main-font2';
}

body {
    background: #f9f9f9;
    font-family: var(--main-font2);
    padding-top: 3.5rem;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    color: var(--hover-color);
}

.padding-top-12 {
    padding-top: 12px;
}



/* NAVIGATION */

.fixed-top {
    padding-bottom: 0px;
}

.nav-white {
    background-color: #fff;
}

.text-logo {
    float: left;
    width: 50px;
    padding-top: 3px;
    font-family: var(--main-font);
}

.description-logo {
    color: #5d5d5d;
    float: left;
    padding-top: 6px;
    font-family: var(--main-font);
}



/*TABBAR*/

.nav-list {
    list-style: none;
}

.nav-list li {
    float: left;
    width: 15%;
}

.feeds {
    height: 30px;
    margin-top: -10px;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-image: url("../img/ic_tab_feed.png");
}

.feeds:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.chat {
    height: 30px;
    margin-top: -10px;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-image: url("../img/ic_tab_chat.png");
}

.chat:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.settings {
    height: 30px;
    margin-top: -10px;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-image: url("../img/ic_tab_settings.png");
}

.settings:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

/* FEEDS */

#main {
    padding-top: 2rem;
}

#informations {
    margin-top: 15px;
    height: 230px;
    width: 100%;
    text-align: center;
}

.left-info {
    float: left;
    width: 200px;
    height: 100%;
    padding: 15px;
}

.right-info {
    float: left;
    width: calc(100% - 200px);
    height: 100%;
}

.circle-avatar {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    border: 1px solid rgba(93, 93, 108, 0.22);
}

.name-info {
    font-size: 28px;
    margin-top: 10px;
    overflow: hidden;
}

.email-info {
    font-size: 17px;
}

#textAreaReply {
    text-align: center;
}

.input:focus {
    outline: none !important;
    border: 1px solid rgba(103, 152, 88, 0.7);
    ;
}

.leave-message {
    font-style: italic;
    font-size: 15px;
    padding-top: 8px;
    color: #adadad;
}
#notfound{
	padding-top: 150px;
	text-align: center;
	font-size: 30px;
}







