<!DOCTYPE html>
<html lang="en">

<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="iudi.me">
    <meta name="apple-itunes-app" content="app-id=com.smartconnect.iudi">
    <meta name="google-play-app" content="app-id=com.smartconnect.iudi">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="Description" content="Sarahah" helps="" you="" in="" receiving="" constructive="" honest="" feedback="" while="" maintaining="" privacy="">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@sarahah_com">
    <meta name="twitter:title" content="Sarahah - Nguyễn Chí Thành">
    <meta name="twitter:description" content="IUDI - Dating Chat Flirt & Meet" helps="" you="" in="" receiving="" constructive="" honest="" feedback="" while="" maintaining="" privacy="">
    <meta name="twitter:creator" content="@zainalabdin878">
    <meta name="theme-color" content="#10bbb3">
    <meta property="og:title" content="IUDI - Nguyễn Chí Thành">
    <meta property="og:image" content="img/logo-rich.png">
    <meta property="og:description" content="IUDI" helps="" you="" in="" receiving="" constructive="" honest="" feedback="" while="" maintaining="" privacy="">
    <meta name="verify-admitad" content="c45775418a">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="css/styleask.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-md fixed-top nav-white">
            <div class="container padding-top-12">
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <a class="navbar-brand" href="#">
                        <h3 class="text-logo">IUDI</h3>
                        <h5 class="description-logo">Dating Chat Flirt & Meet</h5>
                    </a>
                </div>
                <div class="col-md-5">
                    <!-- <ul class="nav-list">
                        <li class="feeds"></li>
                        <li class="chat"></li>
                        <li class="settings"></li>
                    </ul> -->
                </div>
            </div>
        </nav>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div id="main">
            <div class="row" v-if="isValidUser == false">
                <div class="col-md-2"></div>
                <div class="col-md-8" id="notfound">
                    <h1>Oops !</h1> USER NOT FOUND
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row" v-if="isValidUser == true">
                <div class="col-md-2" id="left"></div>
                <div class="col-md-8" id="content">
                    <div id="informations">
                        <img v-bind:src="user.avatar" class="circle-avatar">
                        <div class="name-info">{{user.nickname}}</div>
                        <div class="email-info">@{{user.username}}</div>
                        <div class="leave-message">Leave a constructive message :)</div>
                    </div>
                    <div class="form-group">
                        <label for="content_text"></label>
                        <textarea class="form-control input" id="content_text" rows="4" v-model="message"></textarea>
                    </div>
                    <div id="textAreaReply">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" v-on:click="sendMessagePrivate()">Send</button>
                    </div>
                </div>
                <div class="col-md-2" id="right"></div>
            </div>
        </div>
    </div>
    <!-- /container -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/lodash.js"></script>
<script src="js/vue.js"></script>
<script src="js/async.js"></script>
<link href="css/toastr.css" rel="stylesheet" />
<script src="js/toastr.min.js"></script>
<script src="js/ask.js"></script>

</html>